In [1]:
# Import dependencies
import pandas as pd

# Import dataframe
vine_data = pd.read_csv('Resources/vine_table.csv')
vine_df = pd.DataFrame(data=vine_data)
vine_df.head()

        review_id  star_rating  ...  vine  verified_purchase
0  R2XQIKIDV9FMY7          5.0  ...     N                  Y
1  R2YZ7T62H04KSD          1.0  ...     N                  Y
2   RRILDINUPXKQD          5.0  ...     N                  Y
3  R2A8HL6ZUTRE6O          3.0  ...     N                  Y
4  R2REC2VL6TZIUA          5.0  ...     N                  Y

[5 rows x 6 columns]

In [11]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20
clean_vine_df = vine_df.loc[vine_df['total_votes'] >= 20]
len(clean_vine_df)

16520

In [14]:
# Create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
cleaner_vine_df = clean_vine_df.loc[(clean_vine_df['helpful_votes']/cleaner_vine_df['total_votes']) >= (.5)]
len(cleaner_vine_df)

14537

In [25]:
#Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was or was not written as part of the Vine program
paid_df = cleaner_vine_df.loc[cleaner_vine_df['vine'] == 'Y']
unpaid_df = cleaner_vine_df.loc[cleaner_vine_df['vine'] == 'N']
paid_reviews = len(paid_df)
unpaid_reviews = len(unpaid_df)

In [20]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid)
total_reviews = len(cleaner_vine_df)
five_star_reviews = len(cleaner_vine_df.loc[cleaner_vine_df['star_rating']==5.0])
paid_5star_reviews = len(paid_df.loc[paid_df['star_rating']==5.0])
unpaid_5star_reviews = len(unpaid_df.loc[unpaid_df['star_rating']==5.0])

In [38]:
review_data = {'value': ['total', 'five star', 'percentage'],
'total_reviews': [total_reviews, five_star_reviews, (five_star_reviews/total_reviews)],
    'paid': [paid_reviews, paid_5star_reviews, (paid_5star_reviews/paid_reviews)], 
    'unpaid': [unpaid_reviews, unpaid_5star_reviews, (unpaid_5star_reviews/unpaid_reviews)]}

In [39]:
reviews_df = pd.DataFrame(data=review_data)
reviews_df

        value  total_reviews       paid        unpaid
0       total   14537.000000  60.000000  14477.000000
1   five star    8246.000000  34.000000   8212.000000
2  percentage       0.567242   0.566667      0.567245